<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leonardo.scurcola">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dispatcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerSelection"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NameSelection"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CharacterSelection"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RandomAssignment"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListPlayersVote"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Village"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListPlayersWolves"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListPlayersClairvoyant"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListPlayersGuard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListPlayersLynch"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOver"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>